<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <label for="tn">topic_name</label>
            <select name="tn" id="tn">
                {% for i in topic %}
                    <option value="{{i}}">{{i.topic_name}}</option>
                {% endfor %}
            </select>
          
            <br><br>
            <label for="n" >name :</label>
            <input type="text" name="n" id="n"></input>
            <br><br>
            <label for="ul" >url :</label>
            <input type="url" name="ul" id="ul"></input>
            <br><br>

            <input type="submit" value="insert">
            
        </form>
    </center>
    
</body>
</html>l